@page
@model IndexModel
@{
    ViewData["Title"] = "Torrent Streamer";
}
 <header class="d-flex justify-content-center mt-5">
<form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
  <div class="form-group">
    <input type="file" name="torrentFile" accept=".torrent" />
    <button type="submit" class="btn btn-primary">Upload</button>
  </div>
</form>
</header>
<main>
  <div id="resultsContainer" class="container mt-3"></div>
  <section id="playerContainer" class="container mt-3" style="display: none;">
    <video id="player" controls class="w-100"></video>
  </section>
</main>
