@page
@model TorrentStreamer.Pages.StreamMagnetModel
@{
    ViewData["Title"] = "Torrent Streamer || Magnet";
}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button onclick="getMagnet('@Model.MagnetUrl')" class="btn btn-success mb-4">Display Files</button>
                <div id="torrent-files">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-info">
                                <tr>
                                    <th>File Name</th>
                                    <th>File Size</th>
                                </tr>
                            </thead>
                            <tbody id="torrent-files-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<main>
    <div id="resultsContainer" class="container mt-3"></div>
    <section id="playerContainer" class="container mt-3" style="display: none;">
        <video id="player" controls class="w-100"></video>
    </section>
</main>
